.register {
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
	background-size: cover;
}

.registerTitle {
	font-size: 50px;
}

.registerForm {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.registerForm > label {
	margin: 10px 0;
}

.registerInput {
	padding: 10px;
	background-color: white;
	border: none;
	border-radius: 5px;
}

.registerButton {
	margin-top: 20px;
	cursor: pointer;
	background-color: dimgray;
	border: none;
	color: white;
	border-radius: 5px;
	padding: 10px;
}
.registerLoginButton {
	position: absolute;
	top: 100px;
	right: 20px;
	color: darkslategray;
	background-color: lightcoral;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
